<footer>
    <div class="footmain">
        <div class="footlogo">
            <div class="footlogo_icon">
                <img src="/assets/1(1).png" alt="error">
            </div>
            <div class="footlogo_txt">
                <img src="/assets/2(1).png" alt="">
            </div>
        </div>
        <div class="footaboutus">
            <h2>ABOUT US</h2>
            <p>
                Essence Elixir is your gateway to the world of premium fragrances. Our e-commerce platform brings you a curated selection of perfumes and deodorants designed to elevate your everyday experience. From timeless classics to modern scents, Essence Elixir offers an exquisite range to match every mood and personality. Discover your signature scent and immerse yourself in luxury with our carefully crafted collections.
            </p>
        </div>
        <div class="foothelp">
            <div class="foottoprofile"><i class="fa-solid fa-user"></i></div>
            <div class="footthreehelp">
                <div class="helpcart"><i class="fa-solid fa-cart-shopping"></i></div>
                <div class="helptop"><i class="fa-solid fa-up-long"></i></div>
            </div>
        </div>
        <div class="footcontact">
            <div class="footinsta"><i class="fa-brands fa-instagram"></i></div>
            <div class="footmeta"><i class="fa-brands fa-meta"></i></div>
            <div class="footmail"><i class="fa-solid fa-envelope"></i></div>
            <a href="/retailer">
            <div class="add" style="color: wheat;"><i class="fa-solid fa-plus"></i></div>
        </a>
        <a href="/retailershop">   
        <div class="see" style="color: white;"><i class="fa-solid fa-store"></i></div></a> 
        </div>
    </div>
</footer>


<% if (pageTitle.toLowerCase() === 'index') { %>
    <script src="/scripts/imp.js" defer></script>
    <script src="/scripts/Card_items.js" defer></script>
<% } else if (pageTitle.toLowerCase() === 'index_perfume') { %>
    <script src="/scripts/imp1.js" defer></script>
    <script src="/scripts/Card_items1.js" defer></script>
<% } %>
    <script src="/scripts/search.js" defer></script>
    <script src="/scripts/login.js" defer></script>

</body>
</html>
