<%- include('partials/header', {pageTitle:'attar'}) %>

<div class="herosection">
    <h1>ATTAR</h1>
  </div>
  <div class="items">
    <div class="product-card">
      <div class="product-image">
          <img src="/assets/ISAK First Rain.jpg" alt="First Rain">
      </div>
      <div class="product-details">
          <h2>First Rain </h2>
          <p class="sub-text">Attar</p>
          <div class="rating">
              <span class="star">&#9733;
                <p>4.8</p>
              </span>
              <span class="verified">&#10004;
                <p>324</p>
              </span>
          </div>
          <div class="product_cost">
            <i class="fa-solid fa-indian-rupee-sign"></i>
            <p>1,199 Rs</p>
          </div>
      </div>
      <button class="add-to-cart">ADD TO CART</button>
  </div>
  <div class="product-card">
    <div class="product-image">
        <img src="/assets/attar(1).png" alt="Gulab Attar">
    </div>
    <div class="product-details">
        <h2></h2>
        <p class="sub-text">GULAB</p>
        <p class="sub-text">Attar</p>
        <div class="rating">
            <span class="star">&#9733;
              <p>4.6</p>
            </span>
            <span class="verified">&#10004;
              <p>86</p>
            </span>
        </div>
        <div class="product_cost">
          <i class="fa-solid fa-indian-rupee-sign"></i>
          <p>1799 Rs</p>
        </div>
    </div>
    <button class="add-to-cart">ADD TO CART</button>
</div>
<div class="product-card">
  <div class="product-image">
      <img src="/assets/attar(2).png" alt="Al-ZAIF">
  </div>
  <div class="product-details">
      <h2>Al-ZAIF</h2>
      <p class="sub-text">Attar</p>
      <div class="rating">
          <span class="star">&#9733;
            <p>4.3</p>
          </span>
          <span class="verified">&#10004;
            <p>259</p>
          </span>
      </div>
      <div class="product_cost">
        <i class="fa-solid fa-indian-rupee-sign"></i>
        <p>2500 Rs</p>
      </div>
  </div>
  <button class="add-to-cart">ADD TO CART</button>
</div>
<div class="product-card">
<div class="product-image">
    <img src="/assets/attar(4).png" alt="White OUD Premium">
</div>
<div class="product-details">
    <h2>White Oud Premium</h2>
    <p class="sub-text">Attar</p>
    <div class="rating">
        <span class="star">&#9733;
          <p>4.7</p>
        </span>
        <span class="verified">&#10004;
          <p>993</p>
        </span>
    </div>
    <div class="product_cost">
      <i class="fa-solid fa-indian-rupee-sign"></i>
      <p>899 Rs</p>
    </div>
</div>
<button class="add-to-cart">ADD TO CART</button>
</div>
<div class="product-card">
<div class="product-image">
<img src="/assets/Taaj" alt="Taaj">
</div>
<div class="product-details">
<h2>TAAJ Gold OUD</h2>
<p class="sub-text">Attar</p>
<div class="rating">
    <span class="star">&#9733;
      <p>4.7</p>
    </span>
    <span class="verified">&#10004;
      <p>7369</p>
    </span>
</div>
<div class="product_cost">
  <i class="fa-solid fa-indian-rupee-sign"></i>
  <p>599 Rs</p>
</div>
</div>
<button class="add-to-cart">ADD TO CART</button>
</div>
<div class="product-card">
<div class="product-image">
<img src="/assets/OUD gold" alt="Gold Oud">
</div>
<div class="product-details">
<h2>OUD Gold </h2>
<p class="sub-text">Attar</p>
<div class="rating">
    <span class="star">&#9733;
      <p>3.9</p>
    </span>
    <span class="verified">&#10004;
      <p>2666</p>
    </span>
</div>
<div class="product_cost">
  <i class="fa-solid fa-indian-rupee-sign"></i>
  <p>1,099 Rs</p>
</div>
</div>
<button class="add-to-cart">ADD TO CART</button>
</div>
<div class="product-card">
<div class="product-image">
<img src="/assets/Sunshine and me.webp" alt="Sunshine and me">
</div>
<div class="product-details">
<h2>Sunshine & Me - MINIS</h2>
<p class="sub-text">Attar</p>
<div class="rating">
    <span class="star">&#9733;
      <p>3.8</p>
    </span>
    <span class="verified">&#10004;
      <p>790</p>
    </span>
</div>
<div class="product_cost">
  <i class="fa-solid fa-indian-rupee-sign"></i>
  <p>390 Rs</p>
</div>
</div>
<button class="add-to-cart">ADD TO CART</button>
</div>
<div class="product-card">
<div class="product-image">
<img src="/assets/DiamondSukhad_540x.webp" alt="Diamond Sukhad">
</div>
<div class="product-details">
<h2>DIAMOND SUKHAD</h2>
<p class="sub-text">Attar</p>
<div class="rating">
    <span class="star">&#9733;
      <p>3.9</p>
    </span>
    <span class="verified">&#10004;
      <p>789</p>
    </span>
</div>
<div class="product_cost">
  <i class="fa-solid fa-indian-rupee-sign"></i>
  <p>289 Rs</p>
</div>
</div>
<button class="add-to-cart">ADD TO CART</button>
</div>
<div class="product-card">
<div class="product-image">
  <img src="/assets/lastsecond" alt="Aro Magnet Gold">
</div>
<div class="product-details">
  <h2>ARO MAGNET GOLD</h2>
  <p class="sub-text">Attar</p>
  <div class="rating">
      <span class="star">&#9733;
        <p>4.9</p>
      </span>
      <span class="verified">&#10004;
        <p>981</p>
      </span>
  </div>
  <div class="product_cost">
    <i class="fa-solid fa-indian-rupee-sign"></i>
    <p>549 Rs</p>
  </div>
</div>
<button class="add-to-cart">ADD TO CART</button>
</div>
</div> 
<div class="combo_box">
<div class="combo_txt">
  <h1>COMBOS</h1>
</div>
<div class="box_combo">
<div class="product-card">
  <div class="product-image">
      <img src="/assets/combo333.webp" alt="Winter Combo">
  </div>
  <div class="product-details">
      <h2>WINTER COMBO</h2>
      <p class="sub-text">Attar</p>
      <div class="rating">
          <span class="star">&#9733;</span>
          <p>4.3</p>
          <span class="verified">&#10004;</span>
          <p>3649</p>
        </div>
        <div class="product_cost">
          <i class="fa-solid fa-indian-rupee-sign"></i>
          <p>999 Rs</p>
      </div>
  </div>
  <button class="add-to-cart">ADD TO CART</button>
</div>
<div class="product-card">
  <div class="product-image">
      <img src="/assets/SUMMER COMBO" alt="Summer Combo">
  </div>
  <div class="product-details">
      <h2>SUMMER COMBO</h2>
      <p class="sub-text">Attar</p>
      <div class="rating">
          <span class="star">&#9733;</span>
          <p>4.4</p>
          <span class="verified">&#10004;</span>
          <p>2697</p>
        </div>
        <div class="product_cost">
          <i class="fa-solid fa-indian-rupee-sign"></i>
          <p>1299 Rs</p>
      </div>
  </div>
  <button class="add-to-cart">ADD TO CART</button>
</div>
</div>
</div>
<div class="clickbut">
    <a href="/index_perfume" class="c1">
        <div class="i1">
            <img src="/assets/HAWAS_RASASI_420b93d7-d1ff-42a2-9b40-7b5d21a5ef93-removebg-preview.png" alt="Perfume Image">
        </div>
        <div class="t1"><p>PERFUMES</p></div>
    </a>
    <a href="/designer" class="c1">
        <div class="i1">
            <img src="/assets/AZZARO_TMW_PARFUM_100ML_V4 (1).png" alt="Perfume Image">
        </div>
        <div class="t1"><p>DESIGNERS</p></div>
    </a>
    <a href="/attar" class="c1">
        <div class="i1">
            <img src="/assets/pngtree-perfume-red-glass-png-image_9121360-removebg-preview.png" alt="Perfume Image">
        </div>
        <div class="t1"><p>ATTAR</p></div>
    </a>
    <a href="/deos" class="c1">
        <div class="i1">
            <img src="/assets/20142_1-removebg-preview.png" alt="Perfume Image">
        </div>
        <div class="t1"><p>DEODRANT</p></div>
    </a>
  </div>
<%- include('partials/footer', {pageTitle:'attar'}) %>