<%- include('partials/header', {pageTitle:'bestsellers'}) %>
<div class="herosection">
    <h1>BEST SELLERS</h1>
  </div>
  <div class="items">
    <div class="product-card">
      <div class="product-image">
          <img src="/assets/Sunshine and me.webp" alt="Sunshine and me">
      </div>
      <div class="product-details">
          <h2>Sunshine & Me - MINIS</h2>
          <p class="sub-text">Attar</p>
          <div class="rating">
              <span class="star">&#9733;
                <p>3.8</p>
              </span>
              <span class="verified">&#10004;
                <p>790</p>
              </span>
          </div>
          <div class="product_cost">
            <i class="fa-solid fa-indian-rupee-sign"></i>
            <p>20000 Rs</p>
          </div>
      </div>
      <button class="add-to-cart">ADD TO CART</button>
  </div>
  <div class="product-card">
    <div class="product-image">
        <img src="/assets/QT7wMHpZWv-2_Product_3348901640916-DIOR-Sauvage-Elixir-100ml_80e1881c05a7a50ab9b180abb69693a0c6adcc57_1666263125.avif" alt="Oud Arabia Perfume">
    </div>
    <div class="product-details">
        <h2>Dior Sauvage</h2>
        <p class="sub-text">Elixir</p>
        <div class="rating">
            <span class="star">&#9733;
              <p>4.6</p>
            </span>
            <span class="verified">&#10004;
              <p>12333</p>
            </span>
        </div>
        <div class="product_cost">
          <i class="fa-solid fa-indian-rupee-sign"></i>
          <p>17000 Rs</p>
        </div>
    </div>
    <button class="add-to-cart">ADD TO CART</button>
</div>
<div class="product-card">
  <div class="product-image">
      <img src="/assets/MAGNETIZE_DEODORANT_200ML_1.webp" alt="Oud Arabia Perfume">
  </div>
  <div class="product-details">
      <h2>Magnetize Deodorant Perfume 200ML For Unisex</h2>
      <p class="sub-text">Deodrant</p>
      <div class="rating">
          <span class="star">&#9733;
            <p>4.3</p>
          </span>
          <span class="verified">&#10004;
            <p>4563</p>
          </span>
      </div>
      <div class="product_cost">
        <i class="fa-solid fa-indian-rupee-sign"></i>
        <p>11000 Rs</p>
      </div>
  </div>
  <button class="add-to-cart">ADD TO CART</button>
</div>
<div class="product-card">
<div class="product-image">
    <img src="/assets/for him(5).png" alt="Oud Arabia Perfume">
</div>
<div class="product-details">
    <h2>The Man Company Sky</h2>
    <p class="sub-text">Eau de Parfum</p>
    <div class="rating">
        <span class="star">&#9733;
          <p>3.8</p>
        </span>
        <span class="verified">&#10004;
          <p>45631</p>
        </span>
    </div>
    <div class="product_cost">
      <i class="fa-solid fa-indian-rupee-sign"></i>
      <p>400 Rs</p>
    </div>
</div>
<button class="add-to-cart">ADD TO CART</button>
</div>
<div class="product-card">
<div class="product-image">
<img src="/assets/CARBONHOMME_DEODORANT_200ML_1.webp" alt="Deodrant">
</div>
<div class="product-details">
  <h2>Carbon Homme</h2>
<p class="sub-text">Deodrant</p>
<div class="rating">
    <span class="star">&#9733;
      <p>4.7</p>
        </span>
        <span class="verified">&#10004;
          <p>461</p>
        </span>
    </div>
    <div class="product_cost">
      <i class="fa-solid fa-indian-rupee-sign"></i>
      <p>330 Rs</p>
    </div>
</div>
<button class="add-to-cart">ADD TO CART</button>
</div>
<div class="product-card">
<div class="product-image">
<img src="/assets/b4a2395VALAC00000035_1.avif" alt="Oud Arabia Perfume">
</div>
<div class="product-details">
<h2>Valentino Born in Roma Uomo Intense</h2>
<p class="sub-text">Eau de Parfum</p>
<div class="rating">
    <span class="star">&#9733;
      <p>4.3</p>
    </span>
    <span class="verified">&#10004;
      <p>2567</p>
    </span>
</div>
<div class="product_cost">
  <i class="fa-solid fa-indian-rupee-sign"></i>
  <p>10000 Rs</p>
</div>
</div>
<button class="add-to-cart">ADD TO CART</button>
</div>
<div class="product-card">
<div class="product-image">
<img src="/assets/Taaj" alt="Taaj">
</div>
<div class="product-details">
<h2>TAAJ Gold OUD</h2>
<p class="sub-text">Attar</p>
<div class="rating">
  <span class="star">&#9733;
    <p>4.7</p>
  </span>
  <span class="verified">&#10004;
    <p>7369</p>
  </span>
</div>
<div class="product_cost">
<i class="fa-solid fa-indian-rupee-sign"></i>
<p>599 Rs</p>
</div>
</div>
<button class="add-to-cart">ADD TO CART</button>
</div>
<div class="product-card">
<div class="product-image">
<img src="/assets/OUD-VANILLA_DEODORANT_200ML_1.webp" alt="AfterGlow ADvanced">
</div>
<div class="product-details">
<h2>Oud Vanilla Non-Alcoholic </h2>
<p class="sub-text">Deodrant</p>
<div class="rating">
  <span class="star">&#9733;
    <p>4.5</p>
  </span>
  <span class="verified">&#10004;
    <p>7901</p>
  </span>
</div>
<div class="product_cost">
<i class="fa-solid fa-indian-rupee-sign"></i>
<p>139 Rs</p>
</div>
</div>
<button class="add-to-cart">ADD TO CART</button>
</div>
<div class="product-card">
<div class="product-image">
  <img src="/assets/chanel.jpg" alt="Oud Arabia Perfume">
</div>
<div class="product-details">
  <h2>Bleu de Chanel</h2>
  <p class="sub-text">Eau de Parfum</p>
  <div class="rating">
      <span class="star">&#9733;
        <p>4.7</p>
      </span>
      <span class="verified">&#10004;
        <p>9811</p>
      </span>
  </div>
  <div class="product_cost">
    <i class="fa-solid fa-indian-rupee-sign"></i>
    <p>21000 Rs</p>
  </div>
</div>
<button class="add-to-cart">ADD TO CART</button>
</div>
</div> 
<div class="combo_box">
<div class="combo_txt">
  <h1>COMBOS</h1>
</div>
<div class="box_combo">
<div class="product-card">
  <div class="product-image">
      <img src="/assets/61dCtimxXXL._SX679_PIbundle-4,TopRight,0,0_AA679SH20_.jpg" alt="Oud Arabia Perfume">
  </div>
  <div class="product-details">
      <h2>Park Avenue Perfume Set Euphoria, Conquer, Harmony & Discoverer Perfume</h2>
      <p class="sub-text">Combo Set</p>
      <div class="rating">
          <span class="star">&#9733;</span>
          <p>3.8</p>
          <span class="verified">&#10004;</span>
          <p>5671</p>
      </div>
      <div class="product_cost">
        <i class="fa-solid fa-indian-rupee-sign"></i>
        <p>300 Rs</p>
      </div>
  </div>
  <button class="add-to-cart">ADD TO CART</button>
</div>
<div class="product-card">
  <div class="product-image">
      <img src="/assets/Blu_Aur_Wis_WisD_Deo.webp" alt="Combos Deodrants">
  </div>
  <div class="product-details">
      <h2>Blu & Aurum & Wisal & Wisal Dhahab Deodorant Spray- For Men</h2>
      <p class="sub-text">(200 ml, Pack of 4)</p>
      <div class="rating">
          <span class="star">&#9733;</span>
          <p>4.3</p>
          <span class="verified">&#10004;</span>
          <p>895</p>
        </div>
        <div class="product_cost">
          <i class="fa-solid fa-indian-rupee-sign"></i>
          <p>899 Rs</p>
      </div>
  </div>
  <button class="add-to-cart">ADD TO CART</button>
</div>
</div>
</div>
<div class="clickbut">
    <a href="/index_perfume" class="c1">
        <div class="i1">
            <img src="/assets/HAWAS_RASASI_420b93d7-d1ff-42a2-9b40-7b5d21a5ef93-removebg-preview.png" alt="Perfume Image">
        </div>
        <div class="t1"><p>PERFUMES</p></div>
    </a>
    <a href="/designer" class="c1">
        <div class="i1">
            <img src="/assets/AZZARO_TMW_PARFUM_100ML_V4 (1).png" alt="Perfume Image">
        </div>
        <div class="t1"><p>DESIGNERS</p></div>
    </a>
    <a href="/attar" class="c1">
        <div class="i1">
            <img src="/assets/pngtree-perfume-red-glass-png-image_9121360-removebg-preview.png" alt="Perfume Image">
        </div>
        <div class="t1"><p>ATTAR</p></div>
    </a>
    <a href="/deos" class="c1">
        <div class="i1">
            <img src="/assets/20142_1-removebg-preview.png" alt="Perfume Image">
        </div>
        <div class="t1"><p>DEODRANT</p></div>
    </a>
  </div>
  <%- include('partials/footer', {pageTitle:'bestsellers'}) %>
  