<%- include('partials/header', {pageTitle:'style'}) %>
<div class="rectangle">
    <div id="cart-grid" class="cart-grid">
      <!-- Cart items will be dynamically inserted here by imp1.js -->
    </div>
    <div class="cart-footer">
      <h3>Subtotal: <span id="subtotal">Rs0.00</span></h3>
      <a href="/" class="button">Checkout</a>
    </div>
  </div>
  <script src="/scripts/imp1.js" defer></script>
  <script src="/scripts/search.js" defer></script>
</body>
</html>