<%- include('partials/header', {pageTitle:'designer'}) %>

<div class="herosection">
    <h1>DESIGNERS</h1>
  </div>
  <div class="items">
    <div class="product-card">
      <div class="product-image">
          <img src="/assets/for him(1).png" alt="Oud Arabia Perfume">
      </div>
      <div class="product-details">
          <h2>Diptyque Tam Dao</h2>
          <p class="sub-text">Eau de Parfum</p>
          <div class="rating">
              <span class="star">&#9733;
                <p>4.5</p>
              </span>
              <span class="verified">&#10004;
                <p>3280</p>
              </span>
          </div>
          <div class="product_cost">
            <i class="fa-solid fa-indian-rupee-sign"></i>
            <p>20000 Rs</p>
          </div>
      </div>
      <button class="add-to-cart">ADD TO CART</button>
  </div>
  <div class="product-card">
    <div class="product-image">
        <img src="/assets/QT7wMHpZWv-2_Product_3348901640916-DIOR-Sauvage-Elixir-100ml_80e1881c05a7a50ab9b180abb69693a0c6adcc57_1666263125.avif" alt="Oud Arabia Perfume">
    </div>
    <div class="product-details">
        <h2>Dior Sauvage</h2>
        <p class="sub-text">Elixir</p>
        <div class="rating">
            <span class="star">&#9733;
              <p>4.6</p>
            </span>
            <span class="verified">&#10004;
              <p>12333</p>
            </span>
        </div>
        <div class="product_cost">
          <i class="fa-solid fa-indian-rupee-sign"></i>
          <p>17000 Rs</p>
        </div>
    </div>
    <button class="add-to-cart">ADD TO CART</button>
</div>
<div class="product-card">
  <div class="product-image">
      <img src="/assets/jeanpaulelixir1.webp" alt="Oud Arabia Perfume">
  </div>
  <div class="product-details">
      <h2>Jean Paul Gaultier Le Male Elixir</h2>
      <p class="sub-text">Eau de Parfum</p>
      <div class="rating">
          <span class="star">&#9733;
            <p>4.3</p>
          </span>
          <span class="verified">&#10004;
            <p>4563</p>
          </span>
      </div>
      <div class="product_cost">
        <i class="fa-solid fa-indian-rupee-sign"></i>
        <p>11000 Rs</p>
      </div>
  </div>
  <button class="add-to-cart">ADD TO CART</button>
</div>
<div class="product-card">
<div class="product-image">
    <img src="/assets/51+NEGEIw6L.jpg" alt="Oud Arabia Perfume">
</div>
<div class="product-details">
    <h2>Tom Ford Tobacco Vanille</h2>
    <p class="sub-text">Eau de Parfum</p>
    <div class="rating">
        <span class="star">&#9733;
          <p>4.4</p>
        </span>
        <span class="verified">&#10004;
          <p>4621</p>
        </span>
    </div>
    <div class="product_cost">
      <i class="fa-solid fa-indian-rupee-sign"></i>
      <p>33000 Rs</p>
    </div>
</div>
<button class="add-to-cart">ADD TO CART</button>
</div>
<div class="product-card">
<div class="product-image">
<img src="/assets/413FhIM1g7L._SY450_.jpg" alt="Oud Arabia Perfume">
</div>
<div class="product-details">
<h2>Dolce and Gabanna Light Blue Intense</h2>
<p class="sub-text">Eau de Parfum</p>
<div class="rating">
    <span class="star">&#9733;
      <p>4.1</p>
    </span>
    <span class="verified">&#10004;
      <p>7776</p>
    </span>
</div>
<div class="product_cost">
  <i class="fa-solid fa-indian-rupee-sign"></i>
  <p>7000 Rs</p>
</div>
</div>
<button class="add-to-cart">ADD TO CART</button>
</div>
<div class="product-card">
<div class="product-image">
<img src="/assets/b4a2395VALAC00000035_1.avif" alt="Oud Arabia Perfume">
</div>
<div class="product-details">
<h2>Valentino Born in Roma Uomo Intense</h2>
<p class="sub-text">Eau de Parfum</p>
<div class="rating">
    <span class="star">&#9733;
      <p>4.3</p>
    </span>
    <span class="verified">&#10004;
      <p>2567</p>
    </span>
</div>
<div class="product_cost">
  <i class="fa-solid fa-indian-rupee-sign"></i>
  <p>10000 Rs</p>
</div>
</div>
<button class="add-to-cart">ADD TO CART</button>
</div>
<div class="product-card">
<div class="product-image">
<img src="/assets/Versace-Eros-Edt-For-Men-100Ml-1200x1200.webp.webp" alt="Oud Arabia Perfume">
</div>
<div class="product-details">
<h2>Versace Eros</h2>
<p class="sub-text">Eau de Toilette</p>
<div class="rating">
    <span class="star">&#9733;
      <p>4.5</p>
    </span>
    <span class="verified">&#10004;
      <p>7901</p>
    </span>
</div>
<div class="product_cost">
  <i class="fa-solid fa-indian-rupee-sign"></i>
  <p>8000 Rs</p>
</div>
</div>
<button class="add-to-cart">ADD TO CART</button>
</div>
<div class="product-card">
<div class="product-image">
<img src="/assets/YSL-Y-EDP-100-Pack.jpg" alt="Oud Arabia Perfume">
</div>
<div class="product-details">
<h2>YSL Y</h2>
<p class="sub-text">Eau de Parfum</p>
<div class="rating">
    <span class="star">&#9733;
      <p>4.8</p>
    </span>
    <span class="verified">&#10004;
      <p>6788</p>
    </span>
</div>
<div class="product_cost">
  <i class="fa-solid fa-indian-rupee-sign"></i>
  <p>10000 Rs</p>
</div>
</div>
<button class="add-to-cart">ADD TO CART</button>
</div>
<div class="product-card">
<div class="product-image">
  <img src="/assets/chanel.jpg" alt="Oud Arabia Perfume">
</div>
<div class="product-details">
  <h2>Bleu de Chanel</h2>
  <p class="sub-text">Eau de Parfum</p>
  <div class="rating">
      <span class="star">&#9733;
        <p>4.7</p>
      </span>
      <span class="verified">&#10004;
        <p>9811</p>
      </span>
  </div>
  <div class="product_cost">
    <i class="fa-solid fa-indian-rupee-sign"></i>
    <p>21000 Rs</p>
  </div>
</div>
<button class="add-to-cart">ADD TO CART</button>
</div>
</div> 
<div class="combo_box">
    <div class="combo_txt">
  <h1>GIFT SETS</h1>
</div>
<div class="box_combo">
<div class="product-card">
  <div class="product-image">
      <img src="/assets/51-yNioQWEL.jpg" alt="Oud Arabia Perfume">
  </div>
  <div class="product-details">
      <h2>Jean Paul Gaultier</h2>
      <p class="sub-text">Gift Set</p>
      <div class="rating">
          <span class="star">&#9733;</span>
            <p>4.8</p>
          <span class="verified">&#10004;</span>
            <P>392</P>
      </div>
      <div class="product_cost">
        <i class="fa-solid fa-indian-rupee-sign"></i>
        <p>20000 Rs</p>
      </div>
  </div>
  <button class="add-to-cart">ADD TO CART</button>
</div>
<div class="product-card">
  <div class="product-image">
      <img src="/assets/Y4001045_C400100354_E01_GHC.webp" alt="Oud Arabia Perfume">
  </div>
  <div class="product-details">
      <h2>Miss Dior Blooming Bouquet</h2>
      <p class="sub-text">Gift Set</p>
      <div class="rating">
          <span class="star">&#9733;</span>
          <p>4.6</p>
          <span class="verified">&#10004;</span>
          <P>231</P>
      </div>
      <div class="product_cost">
        <i class="fa-solid fa-indian-rupee-sign"></i>
        <p>15000 Rs</p>
      </div>
  </div>
  <button class="add-to-cart">ADD TO CART</button>
</div>
</div>
</div>

<div class="clickbut">
    <a href="/index_perfume" class="c1">
        <div class="i1">
            <img src="/assets/HAWAS_RASASI_420b93d7-d1ff-42a2-9b40-7b5d21a5ef93-removebg-preview.png" alt="Perfume Image">
        </div>
        <div class="t1"><p>PERFUMES</p></div>
    </a>
    <a href="/designer" class="c1">
        <div class="i1">
            <img src="/assets/AZZARO_TMW_PARFUM_100ML_V4 (1).png" alt="Perfume Image">
        </div>
        <div class="t1"><p>DESIGNERS</p></div>
    </a>
    <a href="/attar" class="c1">
        <div class="i1">
            <img src="/assets/pngtree-perfume-red-glass-png-image_9121360-removebg-preview.png" alt="Perfume Image">
        </div>
        <div class="t1"><p>ATTAR</p></div>
    </a>
    <a href="/deos" class="c1">
        <div class="i1">
            <img src="/assets/20142_1-removebg-preview.png" alt="Perfume Image">
        </div>
        <div class="t1"><p>DEODRANT</p></div>
    </a>
</div>

<%- include('partials/footer', {pageTitle:'designer'}) %>