<%- include('partials/header', {pageTitle:'style'}) %>

<div class="herosection">
    <h1>ESSENCE ELIXIR</h1>
</div>
<div class="exclusive">
    <h2>Exclusive Products</h2>
</div>
<div class="items">
    <!-- Dynamic items here -->
</div>
<div class="boss">
    <div class="arrow_1"><i class="fa-solid fa-angle-left"></i></div>
    <div class="third_sec">
        <div class="box">
            <div class="box_img">
                <a href="/designer"><img src="/assets/niche-and-designer-perfume.webp" alt="error"></a>
            </div>
            <div class="box_txt"><p>DESIGNERS</p></div>
        </div>
        <div class="box">
            <div class="box_img"><a href="/combos"><img src="/assets/IMG10.jpg" alt=""></a></div>
            <div class="box_txt"><p>COMBOS</p></div>
        </div>
        <div class="box">
            <div class="box_img"><a href="/bestsellers"><img src="/assets/image_2024-08-31_023820009.png" alt=""></a></div>
            <div class="box_txt"><p>BESTSELLER</p></div>
        </div>
    </div>
    <div class="arrow_2"><i class="fa-solid fa-angle-right"></i></div>
</div>
<div class="clickbut">
    <a href="/index_perfume" class="c1">
        <div class="i1">
            <img src="/assets/HAWAS_RASASI_420b93d7-d1ff-42a2-9b40-7b5d21a5ef93-removebg-preview.png" alt="Perfume Image">
        </div>
        <div class="t1"><p>PERFUMES</p></div>
    </a>
    <a href="/designer" class="c1">
        <div class="i1">
            <img src="/assets/AZZARO_TMW_PARFUM_100ML_V4 (1).png" alt="Perfume Image">
        </div>
        <div class="t1"><p>DESIGNERS</p></div>
    </a>
    <a href="/attar" class="c1">
        <div class="i1">
            <img src="/assets/pngtree-perfume-red-glass-png-image_9121360-removebg-preview.png" alt="Perfume Image">
        </div>
        <div class="t1"><p>ATTAR</p></div>
    </a>
    <a href="/deos" class="c1">
        <div class="i1">
            <img src="/assets/20142_1-removebg-preview.png" alt="Perfume Image">
        </div>
        <div class="t1"><p>DEODRANT</p></div>
    </a>
</div>
<%- include('partials/footer', {pageTitle:'index'}) %>

