<%- include('partials/header', {pageTitle:'style_perfume'}) %>

<div class="herosection">
    <h1>PERFUMES</h1>
  </div>
<div class="items">

</div> 
<div class="combo_box">
  <div class="combo_txt">
      <h1>COMBOS</h1>
  </div>
  <div class="box_combo">
    <div class="product-card">
      <div class="product-image">
          <img src="/assets/61dCtimxXXL._SX679_PIbundle-4,TopRight,0,0_AA679SH20_.jpg" alt="Oud Arabia Perfume">
      </div>
      <div class="product-details">
          <h2>Park Avenue Perfume Set Euphoria, Conquer, Harmony & Discoverer Perfume</h2>
          <p class="sub-text">Combo Set</p>
          <div class="rating">
              <span class="star">&#9733;</span>
                <p>3.8</p>
              <span class="verified">&#10004;</span>
                <p>5671</p>
          </div>
          <div class="product_cost">
            <i class="fa-solid fa-indian-rupee-sign"></i>
            <p>300 Rs</p>
          </div>
      </div>
      <button class="add-to-cart">ADD TO CART</button>
  </div>
  <div class="product-card">
      <div class="product-image">
          <img src="/assets/61V646ruDIL._SX679_.jpg" alt="Oud Arabia Perfume">
      </div>
      <div class="product-details">
          <h2>The Man Company Perfume Desire,Citron,Intense,Musk & Joy</h2>
          <p class="sub-text">Combo Set</p>
          <div class="rating">
              <span class="star">&#9733;</span>
                <p>4.0</p>
              <span class="verified">&#10004;</span>
                <p>7651</p>
          </div>
          <div class="product_cost">
            <i class="fa-solid fa-indian-rupee-sign"></i>
            <p>499 Rs</p>
          </div>
      </div>
      <button class="add-to-cart">ADD TO CART</button>
  </div>
  </div>
</div>
<div class="clickbut">
  <a href="/index_perfume" class="c1">
      <div class="i1">
          <img src="/assets/HAWAS_RASASI_420b93d7-d1ff-42a2-9b40-7b5d21a5ef93-removebg-preview.png" alt="Perfume Image">
      </div>
      <div class="t1"><p>PERFUMES</p></div>
  </a>
  <a href="/designer" class="c1">
      <div class="i1">
          <img src="/assets/AZZARO_TMW_PARFUM_100ML_V4 (1).png" alt="Perfume Image">
      </div>
      <div class="t1"><p>DESIGNERS</p></div>
  </a>
  <a href="/attar" class="c1">
      <div class="i1">
          <img src="/assets/pngtree-perfume-red-glass-png-image_9121360-removebg-preview.png" alt="Perfume Image">
      </div>
      <div class="t1"><p>ATTAR</p></div>
  </a>
  <a href="/deos" class="c1">
      <div class="i1">
          <img src="/assets/20142_1-removebg-preview.png" alt="Perfume Image">
      </div>
      <div class="t1"><p>DEODRANT</p></div>
  </a>
</div>
<%- include('partials/footer', {pageTitle:'index_perfume'}) %>
