<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>singup</title>
        <link rel="stylesheet" href="/styles/singup.css">
    </head>
<body>
    <div class="container">
        <div class="illustration">
            <img src="/assets/knasdnansdnjknasda.jpeg">
        </div>
        <div class="signup">
            <h1 class="signup-heading">Create an account</h1>
        </form>
        <p class="signup-body1">
            Already have an account? <a href="/signin"> Login </a>
        </p> 
        <form id="form" action="/signup" method="POST">
            <input type="text" id="name" name="name" required placeholder="Your name" class="email-input-button">
            <input type="number" name="mobile" required placeholder="Mobile number" class="email-input-button">
            <input type="email" id="email" name="email" required placeholder="Enter your email" class="email-input-button">
            <input type="password" id="password" name="password" required placeholder="Create your password" class="email-input-button">
            <input type="password" id="recheck" name="recheck" required placeholder="Re-enter your password" class="password-input-button">
            <div>
                <a href="/"><button type="submit" class="signup-button">SignUp</button></a>
            </div>
        </form>
        </div>
    </div>   
    <script src="/scripts/login.js" defer></script>         
</body>

</html>




    
    
          
        
            
    
            
